.welcome p{
    font-size: 20px;
}

.active{
    border-top:0px transparent solid;
    border-right:0px transparent solid;
    border-left:0px transparent solid;
    border-bottom: 3px black solid;
    
}